<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录界面</title>
</head>
<body>
    <div>
        <form th:action="@{/admin/adminLogin}" method = "post">
            <p style = "color: red" th:text="${msg}" th:if="${msg != null}"></p>
            <input type="text" placeholder="账号" name = "adminAccount"><br>
            <input type="password" placeholder="密码" name = "adminPass"><br>
            <input type="submit" value="提交">
        </form>

    </div>
</body>
</html>