<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--管理员接口对应的映射文件-->
<mapper namespace="com.conference.mapper.AdminMapper">

<!--    <select id="getDepartments" resultType="Department">-->
<!--       select * from admin;-->
<!--    </select>-->

<!--    <select id="getDepartment" resultType="Department" parameterType="int">-->
<!--       select * from department where id = #{id};-->
<!--    </select>-->

</mapper>