<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--管理员接口对应的映射文件-->
<!--namespace绑定一个Mapper接口-->
<mapper namespace="com.conference.dao.AdminMapper">

    <!--    id对应方法名 resultType结果集类型-->
    <select id="queryAdmins" resultType="Admin">
       select * from admin;
    </select>

    <select id="queryAdminByAccountAndPass" resultType="Admin" >
       select * from admin where admin_account = #{adminAccount} and admin_pass = #{adminPass};
    </select>

    <insert id="addAdmin" parameterType="Admin" >
        insert into admin(admin_id,admin_name,admin_pass,admin_account) values(#{adminId},#{adminName},#{adminPass},#{adminAccount});
    </insert>

    <update id = "updateAdmin" parameterType="Admin">
        update admin set admin_name=#{adminName},admin_pass=#{adminPass},admin_account=#{adminAccount} where admin_id=#{adminId};
    </update>

    <delete id = "deleteAdmin">
        delete from admin where admin_id = #{adminId};
    </delete>

</mapper>