<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--管理员接口对应的映射文件-->
<!--namespace绑定一个Mapper接口-->
<mapper namespace="com.conference.dao.ParticipantDao">

    <!--    id对应方法名 resultType结果集类型-->
    <select id="queryParticipants" resultType="Participant">
       select * from participant;
    </select>

    <select id="queryParticipantByParticipantName" resultType="Participant" >
       select * from participant where participant_name = #{participantName};
    </select>

    <update id = "updateParticipant" parameterType="Participant">
        update participant set participant_name=#{participantName},participant_job=#{participantJob},
        participant_work_unit=#{participantWorkUnit},participant_email=#{participantEmail},
        participant_pass=#{participantPass},participant_phone=#{participantPhone},participant_sex=#{participantSex},
        participant_id_card=#{participantIdCard} where participant_id=#{participantId};
    </update>

    <delete id = "deleteParticipant">
        delete from participant where participant_id = #{participantId};
    </delete>

</mapper>