<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会议展示</title>
    <link rel="stylesheet" href="static/css/normalize.css">
    <script type="text/javascript" src="static/script/jquery-1.7.2.js"></script>
</head>
<body>
    <table border = "1">
        <thead>
            <tr>
                <th>会议ID</th>
                <th>组织单位ID</th>
                <th>车队ID</th>
                <th>酒店ID</th>
                <th>会议名</th>
                <th>会议开始时间</th>
                <th>会议结束时间</th>
                <th>会议地址</th>
                <th>其它</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</body>
</html>