<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改会议信息</title>

    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.js}"></script>
    <script>
        function submitUpdate(){
            var form = new FormData(document.getElementById("updateConferenceForm"));//把表单的对象作为一个参数
            $.ajax({
                type:"post",
                url: "/conference/updateConference",
                data: form,
                dataType:"text",
                processData:false,
                contentType:false,
                success:function (data) {
                    if(data=="success"){
                        alert("修改成功");
                    }else
                        alert("修改失败");
                },
                error:function () {
                    alert("请求异常");
                }
            })
        }

    </script>
</head>
<body>
    <div>
        <form  th:action = "@{/conference/updateConference}" method = "post" id = "updateConferenceForm">
            <input type="hidden" name = conferenceId th:value = "${conference.getConferenceId()}" >
            <table>
                <tr>
                    <td>会议ID:<input type="text" name = conferenceId disabled = "disabled" th:value="${conference.getConferenceId()}"></td>
                </tr>
                <tr>
                    <td>组织者ID:<input type="text" name = organizerId th:value="${conference.getOrganizerId()}"></td>
                </tr>
                <tr>
                    <td>车队ID:<input type="text" name = fleetId th:value="${conference.getFleetId()}"></td>
                </tr>
                <tr>
                    <td>酒店ID:<input type="text" name = hotelId th:value="${conference.getHotelId()}"></td>
                </tr>
                <tr>
                    <td>会议名称:<input type="text" name = conferenceName th:value="${conference.getConferenceName()}"></td>
                </tr>
                <tr>
                    <td>会议开始时间:<input type="text" name = conferenceStart th:value="${conference.getConferenceStart()}"></td>
                </tr>
                <tr>
                    <td>会议结束时间:<input type="text" name = conferenceEnd th:value="${conference.getConferenceEnd()}"></td>
                </tr>
                <tr>
                    <td>会议地址:<input type="text" name = conferenceLocation th:value="${conference.getConferenceLocation()}"></td>
                </tr>
                <tr>
                    <td>其它:<input type="text" name = conferenceInfo th:value="${conference.getConferenceInfo()}"></td>
                </tr>
                <tr style = " text-align: center ">
                    <td><input type="button" value = "提交修改" onclick="submitUpdate()"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>