<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>组织者信息修改</title>-->
<!--    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.js}"></script>-->
<!--    <script>-->
<!--        function submitUpdate(){-->
<!--            var form = new FormData(document.getElementById("updateOrganizerForm"));//把表单的对象作为一个参数-->
<!--            $.ajax({-->
<!--                type:"post",-->
<!--                url: "/organizer/updateOrganizer",-->
<!--                data: form,-->
<!--                dataType:"text",-->
<!--                processData:false,-->
<!--                contentType:false,-->
<!--                success:function (data) {-->
<!--                    if(data=="success"){-->
<!--                        alert("修改成功");-->
<!--                    }else-->
<!--                        alert("修改失败");-->
<!--                },-->
<!--                error:function () {-->
<!--                    alert("请求异常");-->
<!--                }-->
<!--            })-->
<!--        }-->

<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form  th:action = "@{/organizer/updateOrganizer}" method = "post" id = "updateOrganizerForm">-->
<!--        <input type="hidden" name = organizerId th:value = "${organizer.getOrganizerId()}" >-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>ID:<input type="text" name = organizerId disabled = "disabled" th:value="${organizer.getOrganizerId()}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>单位:<input type="text" name = organizerUnit th:value="${organizer.getOrganizerUnit()}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>联系电话:<input type="text" name = organizerPhone th:value="${organizer.getOrganizerPhone()}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>电子邮箱:<input type="text" name = organizerEmail th:value="${organizer.getOrganizerEmail()}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>账户密码:<input type="text" name = organizerPass th:value="${organizer.getOrganizerPass()}"></td>-->
<!--            </tr>-->
<!--            <tr style = " text-align: center ">-->
<!--                <td><input type="button" value = "提交修改" onclick="submitUpdate()"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->