<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.conference.dao.FleetDao">
    <select id="findAllFleet" resultType="Fleet">
        select * from fleet
    </select>

    <select id="findFleetById" resultType="Fleet">
        SELECT * FROM fleet WHERE fleet_id=#{fleetId}
    </select>

    <select id="findFleetByPhone" resultType="Fleet">
        SELECT * FROM fleet WHERE fleet_phone=#{fleetPhone}
    </select>

    <delete id="deleteFleetById">
        DELETE FROM fleet WHERE fleet_id=#{fleetId}
    </delete>



    <insert id="addFleet">
        INSERT INTO fleet(fleet_id, fleet_name, fleet_pass, fleet_phone)
        VALUES(null, #{fleetName}, #{fleetPass}, #{fleetPhone})
    </insert>

    <update id="updateFleet">
        UPDATE fleet SET fleet_name=#{fleetName}, fleet_pass=#{fleetPass},fleet_phone=#{fleetPhone}
         WHERE fleet_id=#{fleetId};
    </update>

</mapper>
