<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.conference.dao.HotelDao">
<!--    得到所有酒店-->
    <select id="findAllHotel" resultType="Hotel">
        select * from hotel
    </select>
<!--    通过酒店ID查找酒店-->
    <select id="getHotelById" resultType="Hotel">
        select * from hotel where hotel_id=#{hotelId}
    </select>
<!--通过电话查找酒店-->
    <select id="getHotelByPhone" resultType="Hotel">
        select * from hotel where hotel_phone=#{hotelPhone}
    </select>
<!--    酒店增加-->
    <insert id="addHotel">
        INSERT INTO hotel(hotel_name, hotel_location, hotel_phone, hotel_pass, hotel_info)
        VALUES(#{hotelName}, #{hotelLocation}, #{hotelPhone}, #{hotelPass}, #{hotelInfo})
    </insert>
<!--    删除酒店-->
    <delete id="deleteHotelById">
        DELETE FROM hotel WHERE hotel_id=#{hotelId}
    </delete>
<!--    更新酒店-->
    <update id="updateHotel">
        UPDATE hotel SET hotel_name=#{hotelName}, hotel_location=#{hotelLocation}, hotel_phone=#{hotelPhone},
        hotel_pass=#{hotelPass}, hotel_info=#{hotelInfo} WHERE hotel_id=#{hotelId}
    </update>
</mapper>
