<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.conference.dao.LiveRoomDao">
<!--    查看全部住宿表-->
    <select id="findAllLiveRoom" resultType="LiveRoom">
        SELECT * FROM live_room;
    </select>
<!--    根据会议查看住宿表-->
    <select id="findAllLiveRoomByConferenceId" resultType="LiveRoom">
        SELECT * FROM live_room WHERE conference_id=#{conferenceId};
    </select>
<!--    根据人员查看住宿-->
    <select id="findAllLiveRoomByParticipantId" resultType="LiveRoom">
        SELECT * FROM live_room WHERE participant_id=#{participantId};
    </select>
<!--    插入住宿信息-->
    <insert id="addLiveRoom">
        INSERT INTO live_room
        VALUES(#{participantId}, #{hotelId}, #{conferenceId}, #{roomId});
    </insert>
<!--    删除住宿信息-->
    <delete id="deleteLiveRoom">
        DELETE from live_room where participant_id=#{participantId} AND conference_id=#{conferenceId};
    </delete>
<!--    更新房间-->
    <update id="updateLiveRoomByParticipantId">
        UPDATE live_room SET room_id=#{roomId} WHERE participant_id=#{participantId};
    </update>
</mapper>
