<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--管理员接口对应的映射文件-->
<!--namespace绑定一个Mapper接口-->
<mapper namespace="com.conference.dao.OrganizerDao">

    <!--    id对应方法名 resultType结果集类型-->
    <select id="queryOrganizers" resultType="Organizer">
       select * from organizer;
    </select>

    <select id="queryOrganizerByOrganizerUnit" resultType="Organizer" >
       select * from organizer where organizer_unit = #{organizerUnit};
    </select>

    <update id = "updateOrganizer" parameterType="Organizer">
        update organizer set organizer_pass=#{organizerPass},organizer_phone=#{organizerPhone},
        organizer_unit=#{organizerUnit},organizer_email=#{organizerEmail} where organizer_id=#{organizerId};
    </update>

    <delete id = "deleteOrganizer">
        delete from organizer where organizer_id = #{organizerId};
    </delete>

    <select id="queryOrganizerByOrganizerId" resultType="Organizer" >
       select * from organizer where organizer_id = #{organizerId};
    </select>

</mapper>