<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--组织者接口对应的映射文件-->
<!--namespace绑定一个Mapper接口-->
<mapper namespace="com.conference.dao.OrganizerDao">
    <!--    id对应方法名 resultType结果集类型-->
    <update id = "updateOrganizer" parameterType="Organizer">
        update organizer set organizer_pass=#{organizerPass},organizer_phone=#{organizerPhone},
        organizer_unit=#{organizerUnit},organizer_email=#{organizerEmail} where organizer_id=#{organizerId}
    </update>

    <select id="findAllOrganizer" resultType="Organizer">
        select * from organizer
    </select>

    <select id="findOrganizerById" resultType="Organizer">
        select * from organizer where organizer_id=#{organizerId}
    </select>

    <select id="findOrganizerByPhone" resultType="Organizer">
        select * from organizer where organizer_phone=#{organizerPhone}
    </select>

    <insert id="addOrganizer">
        INSERT INTO organizer(organizer_id, organizer_pass, organizer_phone, organizer_unit, organizer_email)
        VALUES(null,#{organizerPass}, #{organizerPhone}, #{organizerUnit}, #{organizerEmail})
    </insert>

    <delete id="deleteOrganizerById">
        DELETE FROM organizer WHERE organizer_id=#{organizerId}
    </delete>
    <update id = "updateOrganizerPhoto">
        update organizer set organizer_photo=#{organizerPhoto} where organizer_id=#{organizerId};
    </update>
</mapper>