<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.conference.dao.PickUpDao">

    <insert id="addPickUp">
        INSERT INTO pick_up
        VALUES(null, #{participantId},#{conferenceId}, #{driverId}, #{conferenceId}, #{trainNumber}, #{toTime}, #{returnTime}, #{isFinishPickup});
    </insert>


    <select id="findAllPickUp" resultType="PickUp">
        SELECT * FROM pick_up;
    </select>

    <select id="findAllFleetPickUp" resultType="PickUp">
        SELECT * FROM pick_up WHERE fleet_id =#{fleetId};
    </select>

    <select id="findAllDriverPickUp" resultType="PickUp">
        SELECT * FROM pick_up WHERE driver_id =#{driverId};
    </select>

    <select id="findAllConferencePickUp" resultType="PickUp">
        SELECT * FROM pick_up WHERE conference_id=#{conferenceId};
    </select>

    <select id="findAllParticipantPickUp" resultType="PickUp">
        SELECT * FROM pick_up WHERE participant_id=#{participantId};
    </select>

    <select id="findPickUp" resultType="PickUp">
        SELECT * FROM pick_up WHERE participant_id=#{participantId}
        and conference_id=#{conferenceId};
    </select>

    <select id="findPickUpById" resultType="PickUp">
        SELECT * FROM pick_up WHERE pick_up_id=#{pickUpId};
    </select>

    <select id="findPickUpByParticipantIdAndConferenceId" resultType="PickUp">
        SELECT * FROM pick_up WHERE participant_id=#{participantId}
        and conference_id=#{conferenceId};
    </select>

    <delete id="deletePickUpById">
        DELETE from pick_up where pick_up_id=#{pickUpId};
    </delete>



<!--    <delete id="deletePickUp">-->
<!--        DELETE from pick_up where participant_id=#{participantId} AND driver_id=#{driverId};-->
<!--    </delete>-->


<!--    <update id="updatePickUpByDriverId">-->
<!--        UPDATE pick_up SET participant_id=#{participantId}, #{conferenceId}, train_number=#{trainNumber}, to_time=#{toTime},-->
<!--        return_time=#{returnTime}, is_finish_pickup=#{isFinishPickup} WHERE driver_id=#{driverId};-->
<!--    </update>-->

<!--    <update id="updatePickUpByParticipantId">-->
<!--        UPDATE pick_up SET driver_id=#{driverId}, #{conferenceId}, train_number=#{trainNumber}, to_time=#{toTime},-->
<!--        return_time=#{returnTime}, is_finish_pickup=#{isFinishPickup} WHERE participant_id=#{participantId};-->
<!--    </update>-->

    <update id="updatePickUp">
        UPDATE pick_up SET participant_id=#{participantId}, fleet_id=#{fleetId}, driver_id=#{driverId} ,
        conference_id=#{conferenceId}, train_number=#{trainNumber}, to_time=#{toTime},
        return_time=#{returnTime}, is_finish_pickup=#{isFinishPickup} WHERE pick_up_id=#{pickUpId};
    </update>

    <update id="updatePickUpByConferenceIdAndParticipantId">
        UPDATE pick_up SET fleet_id=#{fleetId}, driver_id=#{driverId} ,
        train_number=#{trainNumber}, to_time=#{toTime},
        return_time=#{returnTime}, is_finish_pickup=#{isFinishPickup} WHERE conference_id=#{conferenceId}
        and participant_id=#{participantId};
    </update>
<!--    <update id="updatePickUp">-->
<!--        UPDATE pick_up SET train_number=#{trainNumber}, to_time=#{toTime},-->
<!--        return_time=#{returnTime}, is_finish_pickup=#{isFinishPickup} WHERE participant_id=#{participantId}-->
<!--        and driver_id=#{driverId} and conference_id=#{conferenceId};-->
<!--    </update>-->

</mapper>
